apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: playlist-recommender-system
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: caiogrossi-project
  
  source:
    repoURL: https://github.com/caiosgrossi/mlops-assignment.git
    targetRevision: HEAD
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: caiogrossi
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
